<section id="menu" class="menu bg-primary text-center">

        <img src="assets/img/menu.jpg" alt="">
        <!-- <h2 class="section-heading">Discover what all the buzz is about!</h2>
        <p>Our app is available on any mobile device! Download now to get started!</p>
        <div class="badges">
          <a class="badge-link" href="#"><img src="assets/img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="assets/img/app-store-badge.svg" alt=""></a> -->

  
</section>
